extends template 



block head_tags
    title Details Page
    
    link(rel="stylesheet", href="/css/Details_Page.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
block content
    .sample-Pcard.container
      .row
        .col-lg-12.mb-5
          .row.no-gutters.align-items-center
            .col-lg-5.col-md-12.p-0.img-container
              img.card-img(src=imageUrl || "https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80", alt="Restaurant Image", width="100%", height="100%", style="object-fit: cover")
            .col-lg-7.col-md-12.p-0
              .card.sample-Pcard
                .card-body
                  .row.justify-content-between.align-items-center
                    .col-lg-6.col-md-6
                      h5.card-title
                        | #{restaurant.name !== undefined ? restaurant.name : 'Wait for few seconds we are getting data ready for you. Refresh the page again'}&nbsp;&nbsp;&nbsp;&nbsp;
                        if restaurant && restaurant.IsRegister
                          small.text-mutes.text-success
                            i.fa-solid.fa-check Registered
                        else 
                          small.text-mutes.text-danger
                            i.fa-solid.fa-xmark Not Registered
                      small.text-muted= restaurant.address
                      //- small.text-muted= restaurant.address
                      p.card-text= `${distance !== undefined ? `${distance}km away from you` : 'Wait for few seconds we are getting data ready for you. Refresh the page again'}`
                    .col-lg-6.col-md-6.text-end
                      //button.btn.btn-danger.btn-sm.mb-2.mb-md-0(type="button") 10%
                      //- if (user !== undefined && user.favoriteItems !== undefined && user.favoriteItems.includes(restaurant._id))
                      //-   a(href=`/addtofavorite/${restaurant._id}`)
                      //-     button.btn.btn-light.btn-sm.bg-success(type="button")
                      //-       i.fa-solid.fa-heart
                      //- else 
                      //-   a(href=`/DeleteFav/${restaurant._id}`)
                      //-     button.btn.btn-light.btn-sm(type="button")
                      //-       i.fa-regular.fa-heart
                  hr
                  .row.sample-padding-t10
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Contact Number
                      p.card-title-caption= (restaurant.contactNumber && restaurant) ? restaurant.contactNumber : 'Yet Not Registered'
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Email
                      p.card-title-caption= (restaurant.email && restaurant) ? restaurant.email : 'Yet Not Registered'
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Category
                      p.card-title-caption= restaurant.category
                    
                  .row.sample-padding-t10
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Dining Times
                      p.card-title-caption= restaurant.Dining 
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Fast Food
                      p.card-title-caption= restaurant.fastfood
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Out Door Seating
                      p.card-title-caption= restaurant.outdoorSeating
                    
                  .row.sample-padding-t10
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Family Hall
                      p.card-title-caption= restaurant.familyHall
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Wi-Fi
                      p.card-title-caption= restaurant.wifi
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary AC/Heater
                      p.card-title-caption= restaurant.ACHeater
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Parking
                      p.card-title-caption= restaurant.parking
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Beverages
                      p.card-title-caption= restaurant.beverages
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Private Parties
                      p.card-title-caption= restaurant.PrivateParties
                    .col-lg-4.col-md-4
                      p.card-title-txt.text-primary Reviews
                      p.card-title-caption= `${restaurant.finalRating}/5`
                        small.text-muted.text-info= ` Reviwed by ${restaurant.totalReviews} people`
                  .row
                    .col-lg-6
                      a.btn.btn-success.btn-block.quick-btn(type="button", href=`https://www.google.com/maps/search/?api=1&query=${restaurant.lat},${restaurant.lng}`) See on google maps

    script(src="https://kit.fontawesome.com/4d548a4e76.js", crossorigin="anonymous")

